@font-face {
    font-family: 'Nexa';
    src: url("../Assets/Font/Nexa-Heavy.ttf") format("truetype");
}

@font-face {
    font-family: 'Coolvetica Lt';
    src: url("../Assets/Font/CoolveticaLt-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Frenstyle';
    src: url("../Assets/Font/Frenstyle.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AutoMode';
    src: url("../Assets/Font/Auto\ Mode.otf") format("opentype");
}

@font-face {
    font-family: 'LemonMilk';
    src: url("../Assets/Font/LEMONMILK-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'AngerStyle';
    src: url("../Assets/Font/AngerStyles.ttf") format("truetype");
}

@font-face {
    font-family: 'OverThere';
    src: url("../Assets/Font/Over\ There.ttf") format("truetype");
}

@font-face {
    font-family: "WarPriest";
    src: url("../Assets/Font/WarPriestRegular-PanE.ttf");
}


@font-face {
    font-family: "Coraline";
    src: url("../Assets/Font/Coraline\'s\ Cat.otf");
}

@font-face {
    font-family: "Martytic";
    src: url("../Assets/Font/Martyric_PersonalUse.ttf");
}

@font-face {
    font-family: "handwritten";
    src: url("../Assets/Font/Dristan\ Story.otf");
}

:root {
    --warm-white: #f9f8f6;
    --gochujang-red: #970000;
    --crimson-red: #c1121f;
    --light-red: #b9000c;
    --cosmo-blue: #00527e;
    --marble-blue: #669bbc;
    --light-blue: #abd0e7;
}

@media (max-width:928px) {
    section {
        padding: 40px 40px;
    }
}

@media (min-width:928px) {
    section {
        padding: 40px 80px;
    }
}

.border-red {
    border-top: 5px solid var(--gochujang-red);
}

.border-blue {
    border-top: 5px solid var(--marble-blue);
}


::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nexa';
    letter-spacing: 1px;
    font-weight: 500;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    background-color: var(--warm-white);
}

/*Nav Bar*/

#navigation-bar {
    padding: 8px;
    transition: background-color 1s cubic-bezier(0, .50, .50, 1);
}



.nav-item a {
    font-weight: 500;
    transition: color 0.2s ease-out;
}

.nav-red {
    background-color: var(--light-red);
}


.nav-red a {
    color: white;
}

.nav-red a:hover {
    color: #89abc0d7;
}

.nav-red .nav-item.active a {
    color: var(--light-blue);
    text-shadow: 0px 0px 5px rgba(125, 125, 125, 0.5);
}

.nav-blue {
    background-color: var(--light-blue);
}

.nav-blue a {
    color: var(--marble-blue);
}

.nav-blue a:hover {
    color: #a0a0a0d7;
}

.nav-blue .nav-item.active a {
    color: var(--cosmo-blue);
}

.nav-red .nav-item:not(.active) img {
    filter:
        drop-shadow(1px 1px rgb(163, 0, 0)) drop-shadow(-0.5px -0.1px rgb(163, 0, 0)) drop-shadow(0.67px 0px rgb(163, 0, 0));
}

.nav-blue .nav-item:not(.active) img {
    filter:
        drop-shadow(1px 1px rgb(0, 194, 247)) drop-shadow(-0.5px -0.1px rgb(0, 194, 247)) drop-shadow(0.67px 0px rgb(0, 194, 247));
}

.nav-item.active img {
    filter:
        drop-shadow(1px 1px rgb(255, 255, 255)) drop-shadow(-0.5px -0.1px rgb(255, 255, 255)) drop-shadow(0.67px 0px rgb(255, 255, 255));
}




/*Border section*/
.border-blue .section-title {
    color: var(--cosmo-blue);
}

.border-red .section-title {

    color: var(--gochujang-red);
}

.main-div {
    max-width: 1500px;
    margin: auto;
}


.description {
    line-height: 30px;
    font-family: 'Trebuchet MS';
}

.fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}